/*
 * FastND
 * Base CSS
 *
 */

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 12px;
	background: #333 !important;
	
	-webkit-font-smoothing: antialiased !important;
}

/* Layout */
#desktop {
	display: block !important;
	position: fixed !important;
	width: 100%;
	height: 100%;
	overflow: hidden;
	
	z-index: 0 !important;
}

.main-actions,
.tab-list,
#desktop-content {
	display: block;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.main-actions {
	position: absolute;
	width: 100%;
	height: 60px;
	
	background-color: #222;
	box-shadow: inset 0 1px 5px #111;
	
	z-index: 3;
}

.tab-list {
	position: absolute;
	left: 0;
	top: 60px;
	height: 100%;
	width: 200px;
	padding: 0 0 30px 0;
	
	z-index: 2;
}

#desktop-content {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	padding: 70px 0 50px 210px;
	background: #333;
}

#desktop .ui-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 36px;
	z-index: 99;
}

/* Main Actions */
.desktop-title {
	width: 200px;
	height: 40px;
}

.desktop-title h1 {
	margin: 9px 30px;
}

.desktop-title,
#signin-actions,
#public-account-selectors {
	float: left;
}

#signin-actions,
#public-account-selectors {
	margin-top: 10px;
}

#signin-actions {
	width: 170px;
}

#public-account-selectors {
	width: 360px;
	
	color: #fff;
	text-shadow: none;
}

/* blank state */
#blank-state {
	display: block;
	position: absolute;
	left: 10px;
	top: 65px;
	
	width: 410px;
	height: 250px;	
	border-width: 3px;
	z-index: 1002;	
	
	box-shadow: 0 3px 10px #000;
}

#blank-state:after {
	content:"";
	position:absolute;
	top: -15px;
	left: 20px;
	
	border-width: 0 15px 15px 15px;
	border-style: solid;
	border-color: #b3b3b3 transparent;
    display: block; 
    width: 0;
	z-index: 1003;
}

#blank-state h1 {
	line-height: 40px;
	text-align: center;
}
#blank-state h1 strong {
	background: url(../images/finforeLogo.png) no-repeat scroll left center transparent;
    display: inline-block;	
    height: 40px;
    margin: 5px;
    text-indent: -9999px;
    width: 150px;
}
#blank-state form {
	overflow: hidden;
}
#blank-state form .ui-checkbox {
	float: left;
}
#blank-state form #blank-state-close-btn {
	float: right;
}

#blank-state form .ui-checkbox,
#blank-state form #blank-state-close-btn {
	margin: .2em 0 .5em;
}

/* ===== Tablet Layout ===== */
.panel-content-wrap {
	background-color: #F0F0F0;
	overflow-y: auto;
}

.panel-content-wrap .ui-content {
	height: auto !important;
}

/* Collapsible Companies */
.collapsible-company {
	position: relative;
}

.collapsible-company:hover .tab-close-button,
.touch .tab-close-button {
	display: block;
}


.tab-close-button {
	position: absolute;
	display: none;
	top: 7px;
	right: 10px;
	
	cursor: pointer;
}

.collapsible-company h3 {
	margin: 0;
	font-size: 12px;
}
.collapsible-company h3 a .ui-btn-corner-all {
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}
.collapsible-company h3:not(.ui-collapsible-heading-collapsed) a {
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.collapsible-company .ui-listview {
	margin: 0;
}
.collapsible-company .ui-listview li:last-child {
	-webkit-border-bottom-right-radius: .6em;
	-webkit-border-bottom-left-radius: .6em;
	-moz-border-radius-bottomright: .6em;
	-moz-border-radius-bottomleft: .6em;
	border-bottom-right-radius: .6em;
	border-bottom-left-radius: .6em;
}
.collapsible-company .ui-collapsible-content {
	padding: 0;
	margin: 0;
}

.panel-list {
	margin: .5em 0;
}

.tablet-tab-list {
	position: relative;
	padding-bottom: 30px;
}

.tablet-tab-selector {
	overflow-y: auto;
	padding: 0 3px;
	height: 100% !important;
	
	background-color: #111;
	box-shadow: inset 0 1px 5px #000;
}

/* Tabs and Columns */
/* Tab Content */
.tab {
	position: relative;
	left: 0;
	z-index: 1001;
	height: 100%;
	display: none;
	overflow-y: hidden;
	overflow-x: auto;
	background-color: #F0F0F0;
	
	border: 1px solid #2a2a2a;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	-moz-box-shadow: 0px 1px 4px rgba(0,0,0,.3);
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,.3);
	box-shadow: 0px 1px 4px rgba(0,0,0,.3);
}

.active-tab {
	display: block;
}

/* iScroll Container */
.tab-scroller {	
	position: relative;	
	height: 100%;
	white-space: nowrap;
}

/* Panels */
.panel {
	position: relative;	
	z-index: 999;		
	
	display: inline-block;
	table-layout: fixed;
	height: 100%;
	width: 300px !important;
	padding-top: 45px;
	overflow: hidden;
	border-right: 1px solid #333;
	
	white-space: normal;
	vertical-align:top;
		
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box-box;
	box-sizing: border-box;	
}

.panel > [data-role="header"] {
	position: absolute;
	top: 0;
	height: 43px;
	width: inherit;
	overflow: hidden;
}

.panel > [data-role="content"], .panel-content-wrap .ui-content {	
	height: 100%;
	padding: 0;	
	overflow-x: hidden;
	overflow-y: auto;
}

.panel .panel-back-button {
	display: none;
}

.panel .ui-controlgroup {
	margin: 0;
}

.panel a {
	color: #375DDB;	
}

.panel-loading:before {
	position: absolute;
	left: 50%;
	margin-left: -12px;
	bottom: 10px;
	display: block;
	content: '';
	width: 24px;
	height: 24px;
	background-image: url(../images/ajaxLoader.gif);
	background-repeat: no-repeat;
	background-position: center bottom 10px;
}

.tab .panel:last-of-type {
	border: 0;
}

/* Panel Controlgroup */
.panel .ui-header .ui-controlgroup {
	position: absolute;
	top: 5px;
	right: 5px;	
	opacity: 0;
	
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.panel:hover .ui-header .ui-controlgroup {		
	opacity: 1;
	right: 40px;
}

/* News Ticker */
.scrolling-ticker {
	display: block;
	width: 100%;	
	
	font-weight: normal;
	font-size: 14px;
	line-height: 36px;
	vertical-align: middle;
}
.scrolling-ticker a {
	display: inline-block;
	max-width: 800px;
	overflow: hidden;
	padding-left: 25px;
	margin-right: 20px;
	opacity: 0.4;
	
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url(../images/icons/feedUpdateIcon.png);
	
	color: #fff;
	text-overflow: ellipsis;
	text-decoration: none;
	white-space: nowrap;
}
.scrolling-ticker a:hover {
	opacity: 1;
}
.scrolling-ticker a.twitter-update {
	background-image: url(../images/icons/twitterUpdateIcon.png);
}
.scrolling-ticker a.prices-update {
	background-image: url(../images/icons/pricesUpdateIcon.png);
}

/* == Dialogs == */
.small-dialog {
	margin-top: 0;
	background: hsla(0, 0%, 10%, 0.6) !important;
	z-index: 9999;
}

.small-dialog [data-role="header"] {
	width: 500px;
	margin: 0 auto;
	
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.small-dialog [data-role="content"] {
	width: 470px;
	margin: 0 auto;
}

/* SIGN-UP DIALOG */
#signup-page {
	height: 975px;
}
#signup-page1 {
	height: 540px;
}

/* Add Company Dialog */
#add-company-page {
	padding-bottom: 10px;
}

#add-company-page li:last-of-type {
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

/* Login Dialog */
#login-page h1 {
	margin: 1em 0px;
	line-height: 2.5em;
}

#login-page h1 strong {
	display: inline-block;	
	width: 140px;
	height: 40px;
	padding-left: 5px;
	background: url(../images/finforeLogo.png) no-repeat right center;
	text-indent: -9999px;
}

/* == Registered User == */

/* Main Actions */
.registered-user h1 {
	margin: 10px;
	height: 40px;
	background-size: auto;
}

.registered-user .main-actions {
	left: 0;
	width: 60px;
	height: 100%;
	z-index: 10;
}

/* Tab List */
.registered-user .tab-list {
	left: 60px;
	top: 0;
}

/* Desktop Content */
.registered-user #desktop-content {
	padding: 5px 0 40px 280px;
}

.registered-user .desktop-title {
	width: 40px;
}

.registered-user .desktop-title h1 {
	width: 40px !important;
}

/* User Buttons */
/* Desktop Header Buttons */
#header-buttons {
	width: 32px;
	margin: 80px auto 0 auto;
}

#header-buttons a {
	overflow: visible;
	display: block;
	width: 32px;
	height: 32px;
	margin-bottom: 10px;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 10;
	
	text-indent: -9999px;
	text-decoration: none;
	opacity: 0.6;
	cursor: pointer;
	
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	-webkit-transition: opacity 0.3s ease-out;
	-ms-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}

#header-buttons a:hover, #header-buttons a:focus {
	opacity: 1;
}

#header-buttons a:active {
	position: relative;
	top: 3px;
	opacity: 1;
}

#header-buttons .add-company-button {
	background-image: url(../images/icons/addBigIcon.png);
}

#header-buttons a#profile-button {
	background-image: url(../images/icons/userBigIcon.png);
}

#header-buttons a#manage-button {
	background-image: url(../images/icons/columnsBigIcon.png);
}

#header-buttons a.help-button {
	background-image: url(../images/icons/helpBigIcon.png);
}

#header-buttons a.logout-button {
	background-image: url(../images/icons/logoutBigIcon.png);
}

#header-buttons .disabled {
	pointer-events: none;
	opacity: 0.2;
}

/* == end Registered User == */

/* Landscape Tablets */
@media all and (min-width : 770px) {

	/* Tooltip */
	[data-tooltip] {
		position: relative;
	}
	
	[data-tooltip]:before {
		display: none;
		position:absolute;
		width: 100px;
		padding: 6px;	
		left: 40px;
		top: 2px;
		z-index: 10;
		
		content: attr(data-tooltip);
		
		background: #1582aa;
		opacity: 0.8;
		
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		
		text-indent: 0;
		text-align: center;
		color: #fff;
		font-size: 12px;
		text-shadow: none;
	}
	
	[data-tooltip]:after {
		content: "";
		display: none;
		position: absolute;
		top: 10px;
		left: 35px;
		width: 0;
		height: 0;
		border-width: 5px 5px 5px 0;
		border-style: solid;
		border-color: transparent #1582aa;
		opacity: 0.8;
	}
	
	[data-tooltip]:hover::before, [data-tooltip]:hover::after {
		display: block;
	}

	/* Main Actions */
	.main-actions {
		left: 0;
		width: 200px;
		height: 190px;
		padding: 0 0 50px 5px;
	}
	
	.desktop-title,
	#signin-actions,
	#public-account-selectors {
		display: block;
		margin: 0;
	}
	
	.main-actions .ui-btn-inner {
		text-overflow: clip;
	}
	
	#signin-actions {
		padding: 0;
		margin: 15px 0 0 0 !important;
		width: auto;
	}
	
	#signin-actions a {
		width: 90px;
	}
	
	#public-account-selectors > div {
		display: block;
		width: 180px;
		margin-top: 10px;
		border-radius: 3px;
	}

	#public-account-selectors .ui-btn-inner {
		padding-left: 35px;
	}
	
	/* Tab List */
	.tab-list {
		left: 0;
		top: 0;
		
		padding-top: 190px;
	}
	
	.registered-user .tab-list {
		padding-top: 0;
	}
	
	/* Desktop Content */
	#desktop-content {
		padding: 5px 0 40px 210px;
	}
	
	/* Blank State */
	#blank-state {
		top: 5px;
		left: 200px;
	}
	
	#blank-state:after {
		content:"";
		position:absolute;
		top: 5px;
		left: -15px;
		
		border-width: 15px 15px 15px 0;
		border-style: solid;
		border-color: transparent #b3b3b3;
		display: block; 
		width: 0;
		z-index: 1003;
	}
	
	/* Panel Controlgroup */
	.panel .ui-header .ui-controlgroup {
		position: absolute;
		top: 5px;
		right: 5px;	
		opacity: 0;
		
		-moz-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		-webkit-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
		
		-webkit-transform: translateX(30px);
		-moz-transform: translateX(30px);
		-o-transform: translateX(30px);
		transform: translateX(30px);	
	}

	.panel:hover .panel-slider-controls {
		display: block;
	}
	
	/* Panel Slider Controls */
	.panel-slider-controls {
		display: none;
		position: absolute;	
		width: inherit;
		margin: 0;
		bottom: 0;	
		z-index: 9999;
	}

	.panel-slider-controls .ui-btn:last-child {
		float: right;	
		
		border-width: 1px 0 0 1px;
		-moz-border-radius: 5px 0 0 0;
		-webkit-border-radius: 5px 0 0 0;
		border-radius: 5px 0 0 0;
	}

	.panel-slider-controls .ui-btn {
		float: left;
		margin: 0;
		padding: 5px;
		
		border-width: 1px 1px 0 0;
		-moz-border-radius: 0 5px 0 0;
		-webkit-border-radius: 0 5px 0 0;
		border-radius: 0 5px 0 0;
	}

	/* Panel Sortable Helper */
	.panel.ui-sortable-helper {
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
		
		border: 5px solid hsla(210, 57%, 74%, 0.55);	
	}

}

/* Public Account select box */
#public-account-selectors .public-account-select-box {
	display: none;
}

.public-account-select-box {
	padding-top: 10px;
}

.public-account-select-box form label,
.public-account-select-box form .ui-select,
.public-account-select-box form .ui-select > div,
.public-account-select-box form > div {
	display: block;
	width: 100%;
	
	font-size: 12px;
}

.public-account-select-box > p {
	margin: 20px 0 5px 0;
	
	font-size: 11px;
}

.public-account-select-box .ui-field-contain {
	margin: 0 0 5px 0;
	
	color: #c9c9c9;
}

/* Desktop Screens */
@media all and (min-width: 1025px) {

	/* Hide Use a Public Account button */
	#public-account-selectors > div:first-child {
		display: none;
	}
	
	/* Show public account select box */
	#public-account-selectors .public-account-select-box {
		display: block;
	}
	
	/* Enlarge main-actions */
	.main-actions {
		height: 300px;
	}
	
	.tab-list {
		padding-top: 300px;
	}

}

/* Custom Webkit Scrollbars */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
	color: #000;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 10px;
	color: #000;	
}
::-webkit-scrollbar-track-piece {
    background-color: #eee;	
    -webkit-border-radius: 5px;
}
::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #888;	
    -webkit-border-radius: 5px;
}
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
	background-color: #000;
}
::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
	margin: 2px;
    background-color: #888;
    -webkit-border-radius: 5px;
}

/* == FIXES == */


/* ===== JQUERY MOBILE FIXES ===== */

#desktop .ui-footer .ui-btn-icon-notext, #desktop .ui-header .ui-btn-icon-notext {
	top: 0 !important;
}

[data-role="page"], [data-role="header"] {
	width: 100%;
}

/* Disable fade transition */
@-webkit-keyframes fadein {
    from { opacity: 1; }
    to { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 1; }
    to { opacity: 1; }
}
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 1; }
}
@-moz-keyframes fadeout {
	from { opacity: 1; }
    to { opacity: 1; }
}
.fade.out {
	opacity: 1;
}

/* Fixes webkit %percentage height issues */
.panel embed {
	display: table-row;
}
.panel .ui-content ul {
	display: block;
	width: 100%;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.panel .ui-content ul li {
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.load-more-container {
	display: table;
	width: 100%;
}

/* Show scrollbars while loading */
.ui-loading .ui-mobile-viewport {
	overflow: auto !important;
}

/* Fix jQuery Mobile Title Crop */
.ui-header .ui-title, .ui-footer .ui-title {
	margin: 10px 0;
}

/* Fix jQuery Mobile multiple selectmenu pop and title margin*/
.ui-selectmenu.pop {
	left: 50% !important;
	margin-left: -175px !important;
	margin-top: -50px;
}
.ui-selectmenu .ui-header {
	margin: 0;
	width: auto;
}

/* jQuery Mobile fix */
.ui-loader {
	top: 50% !important;
	z-index: 999999 !important;
}
.ui-page, .ui-dialog {
	/*min-height: 100% !important;*/
}

/* Blurry text */
.ui-header .ui-btn-inner, .ui-footer .ui-btn-inner, .ui-mini .ui-btn-inner, .ui-btn-text {
	font-size: 12px !important;
}

/* Flickering Safari Issue */
[data-role="page"],
.main-actions {
    -webkit-backface-visibility: hidden;
}

/* iPad Fix */
@media only screen and (-webkit-min-device-pixel-ratio:0) {
    .tab {
		-webkit-box-sizing: border-box;
		padding-bottom: 8px;
	}
}


/* ===== IE BROWSER UPGRADE NOTICE ===== */
#brower-upgrade-notice-overlay {
	position: absolute;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: #333;
}
#brower-upgrade-notice .proceed-anyway {
	display: block;
	position: relative;
	clear: both;	
}
#brower-upgrade-notice .proceed-anyway:before {
	content: "";
	display: block;
	position: absolute;
	top: 8px;
	left: -10px;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #333;
}
#brower-upgrade-notice {
	position: absolute;
	z-index: 9999;
	left: 50%;
	top: 50%;
	width: 560px;	
	padding: 20px;
	margin-left: -280px;
	margin-top: -150px;
	
	font-size: 13px;
	border: 1px solid #FCFCFC;
	background-color: #efefef;
}
#brower-upgrade-notice h2 {
	margin-top: 0;
}
#brower-upgrade-notice a {
	position: relative;
	font-weight: bold;
	color: #0E79CA;
	
	zoom: 1;
}
#brower-upgrade-notice a:hover {
	background-color: #F7F7F7;
	color: #000;
	text-decoration: none;
}
#brower-upgrade-notice ul {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
#brower-upgrade-notice li {
	float: left;
	list-style-type: none;
}
#brower-upgrade-notice li a {
	display: block;
	width: 75px;
	padding-top: 70px;
	background-image: url(../images/browserLogos.png);
	background-position: top left;
	background-repeat: no-repeat;
	
	text-align: center;
}
#brower-upgrade-notice li .firefox-browser {
	background-position: -75px 0px;
}
#brower-upgrade-notice li .opera-browser {
	background-position: -141px 0px;
}
#brower-upgrade-notice li .safari-browser {
	background-position: -210px 0px;
}

#brower-upgrade-notice .other-browser {
	float: left;
	padding-bottom: 10px;
}

#brower-upgrade-notice .upgrade-ie {
	float: right;
	width: 160px;
	margin-top: -15px;
	text-align: right;
}

#brower-upgrade-notice .ie-browser {
	display: block;
	float: right;
	width: 75px;
	padding-top: 70px;
	background-image: url(../images/browserLogos.png);
	background-position: top left;
	background-repeat: no-repeat;
	
	text-align: center;
	background-position: -280px 0px;
}
