/*
 * Finfore.net 
 * Small-screen CSS
 *
 */

 /* Main */
html,
body {
	margin: 0;
	padding: 0;
	background: #eee;
	
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
	text-size-adjust: 100%;
	
	font-family: sans-serif;	
}
 
/* Hide panel controlgroups */ 
.small-screen .postMessage textarea.ui-input-text {
	height: 120px;
}

/* ===== SMALL SCREEN LAYOUT ===== */
.small-screen .main-page {
	overflow: auto;
}
.small-screen #header-buttons {
	margin: 5px 0px 0px 10px;
	float: none;
	clear: both;
	overflow: hidden;
}
.small-screen .panel .ui-header .ui-title {
	margin: .6em 0 .8em 0;
}
a.panel-back-button {	
	color: #fff;
}
.small-screen .panel {
	width: 100%;
}

/* Small Screen Login */
.small-screen #login-page [data-role=content] form {
	width: auto;
}
#login-page label {
	width: 20%;
	padding-right: 10%;
	display: inline-block !important;
}
#login-page input {
	width: 60%;
	display: inline-block;
}
#login-page [data-role=controlgroup] {
	margin: 0 !important;
	
	white-space: nowrap;
}
#login-page [data-role=controlgroup] .ui-btn {
	width: 50%;
}
#login-page .forgot-password {
	padding: 15px 0;
	
	font-size: 12px;
}
.public-account-btn {
	margin: 0 0 30px 0;
}
.social-signin p {
	font-size: 12px;
}

/* Small Screen Layout */
.panel .ui-content {
	padding: 0;
	overflow: hidden;
	
	font-size: 12px;
}
.desktop-title {
	position: relative;
	overflow: hidden;
	width: auto !important;
}
.desktop-title h1 {
	float: none;
	height: 25px;
	margin: 8px 0 8px 50px !important;
	background-size: auto 25px;
	background-position: -25px;
}

.refresh-logo {
	position: absolute;
	top: 3px;
	left: 15px;
	width: 30px;
	height: 30px;
	background: url(../images/finforeLogo.png) no-repeat left center;
	background-size: cover;
}

@-webkit-keyframes rotateLogo {
	0% {
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-moz-keyframes rotateLogo {
	0% {
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-o-keyframes rotateLogo {
	0% {
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotateLogo {
	0% {
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.refresh-logo-rotate {
	-webkit-animation: rotateLogo 1s infinite linear;
	-moz-animation: rotateLogo 1s infinite linear;
	-o-animation: rotateLogo 1s infinite linear;
	animation: rotateLogo 1s infinite linear;
}

.mobile-menu-button {
	top: 3px !important;
	padding: 3px;
	
	-webkit-border-radius: 0.2em !important;
	-moz-border-radius: 0.2em !important;
	-o-border-radius: 0.2em !important;
	border-radius: 0.2em !important;
}

.ui-icon-menu {
	background-image: url(../images/icons/menuIcon.png);
	background-position: center center;
}

/* Loading Column */
.panel-loading:after {
	position: absolute;
	left: 50%;
	margin-left: -12px;
	bottom: 10px;
	display: block;
	content: '';
	width: 24px;
	height: 24px;
	background-image: url(../images/ajaxLoader.gif);
	background-repeat: no-repeat;
	background-position: center bottom 10px;
}


/* Small Screen Columns */
.small-screen .ui-header {
	z-index: 3;
}

/* Header Buttons */
.header-buttons {
	position: absolute;
	top: 0;
	right: 0;
	height: 44px;
}
.header-buttons a {
	postion: relative;
	top: 0;
	overflow: visible;	
	display: block;	
	float: left;
	width: 42px;
	height: 42px;
	margin-right: 8px;
	
	background-position: center center;
	background-repeat: no-repeat;	
	
	text-indent: -9999px;
	text-decoration: none;
	opacity: 0.6;
	cursor: pointer;
}
.header-buttons a:active {
	opacity: 1;
	margin-top: 2px;
}
.header-buttons a.profile-button {
	background-image: url(../images/icons/userBigIcon.png);
}
.header-buttons a.help-button {
	background-image: url(../images/icons/helpBigIcon.png);
}
.header-buttons a.logout-button {
	background-image: url(../images/icons/logoutBigIcon.png);
}
.header-buttons a.add-tab-button {
	background-image: url(../images/icons/lookupBigIcon.png);
}

/* Mobile Panel Sliders */
.ui-header .panel-mobile-sliders {
	top: 0;
	margin: .3em 0 1em;
}

.panel-mobile-sliders a {
	top: 0 !important;
	padding: 3px;
}

/* Add New Company Dialog */
.companies-list .ui-li-count {
	display: none;
}

/* Collapsible Companies */
.company-item {
	padding: 0 !important;
	border: 0;
}

.company-item .ui-collapsible {
	margin: 0;
}

.companies-page .ui-content {
	padding: 0;
}
.companies-page .ui-collapsible, .collapsible-company h3 {
	margin: 0;
}
.collapsible-company h3 a, .collapsible-company h3 a > span {
	-webkit-border-radius: 0em;
	-moz-border-radius: 0em;
	border-radius: 0em;
}
.collapsible-company .ui-listview {
	margin: 0 0 .5em 0;
}
.collapsible-company .ui-collapsible-content {
	padding: 0;
	margin: 0;
}

/* Update Page */
#mobile-updates .ui-content .ui-btn {
	height: auto;
	text-align: left;
	
	white-space: normal;
}
#mobile-updates .ui-content .ui-btn .ui-btn-inner {
	padding-left: 48px;
	
	white-space: normal;
} 
#mobile-updates .ui-content .ui-btn .ui-icon {
	width: 32px;
	height: 32px;
	margin-top: -15px;
	background-color: transparent;
	
	border-radius: 0;
}
#mobile-updates .ui-content .ui-btn a:before {
	content: '';
	display: block;
	position: absolute;
	left: 5px;
	top: 5px;
	width: 32px;
	height: 32px;
	background-position: center center;
	background-repeat: no-repeat;
}
.ui-icon-twitter-update {
	background-image: url(../images/icons/twitterUpdateIconMobile.png);
}
.ui-icon-prices-update {
	background-image: url(../images/icons/pricesUpdateIconMobile.png);
}
.ui-icon-feed-update {
	background-image: url(../images/icons/feedUpdateIconMobile.png);
}

/* Public Account Selector */
#public-account-selector .ui-content p {
	margin: 0;
	color: #888;
	font-size: 12px;
	font-weight: bold;
}

#public-account-selector .ui-field-contain {
	padding: 5px 0;
}

#public-account-selector label {
	font-size: 16px;
	line-height: 0.8;
}

/* Column Selector Lists */

/* Make columns titles not clickable, but make icons clickable */
.split-selector li {
	pointer-events: none;
}

.split-selector .company-item,
.split-selector li > a {
	pointer-events: all;
}
	
.split-selector li > a {
	width: 55px;
}

.split-selector .load-more-entries {
	pointer-events: all;
}

.split-selector li > a .ui-btn-icon-notext {
	right: 15px;
}

/* ===== MODULES ===== */

/* Prices */
@media screen and (orientation:landscape) {
	.prices-table tr td {
		width: 25% !important;
	}
}
.prices-table tr td a {
	color: #375DDB; /* same as .panel a in base.css */
	text-decoration: underline;
}

/* Feed */
.feed .ui-li-heading {
	margin: .1em 0;
	
	font-size: 12px;
}

/* Portfolio Column Selectors */
.trunc-title {
	display: inline-block;
	width: 100px;
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

/* Offcanvas Menu */
.ui-mobile .menu-page {
	position: relative;
	top: 0;
	left: -270px;
	width: 270px;
	display: block !important;
	min-height: 100%;
	
	overflow: hidden;
}

.ui-mobile .menu-page:after {
	content: '';
	display: block;
	width: 1px;
	height: 100%;
	position: absolute;
	top: -10px;
	right: -1px;
	z-index: 10;
	
	-webkit-box-shadow: 0 -20px 10px 2px #111;
	-moz-box-shadow: 0 -20px 10px 2px #111;
	-ms-box-shadow: 0 -20px 10px 2px #111;
	-o-box-shadow: 0 -20px 10px 2px #111;
	box-shadow: 0 -20px 10px 2px #111;
}

.menu-page .ui-li-has-alt .ui-btn-inner a.ui-link-inherit {
	padding-right: 80px;
}

div[data-role="page"],
div[data-role="dialog"] {
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.show-menu [data-role="page"] {
	-webkit-transform: translateX(270px);
	-moz-transform: translateX(270px);
	-ms-transform: translateX(270px);
	-o-transform: translateX(270px);
	transform: translateX(270px);
}

/* Inline Companies search filter */
.mobile-addcompany {
	margin-bottom: 15px !important;
	border-bottom: 5px solid #000;
}

.hide-mobile-companies {
	display: none;
}

/* Content overlay, to hide menu on click */
.mobile-content-overlay {
	display: none;
}

.show-menu .mobile-content-overlay {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 10;
}

/* Faux column for columns to show full-height dark background behind menu, using pseudo-elements */
.panel:before {
	content: '.';
	display: block;
	height: 100%;
	width: 270px;
	position: absolute;
	left: -270px;
	top: 0;
	z-index: 1;
	background-color: #222;
	
	color: #222;
}


/* **** JQUERY MOBILE **** */
.ui-dialog  {
	margin-top: 0;
}
.ui-dialog .ui-header {
	margin-top: 0;
}
/* Dialog titles */
.ui-header .ui-title,
.ui-footer .ui-title {
	margin: .6em 30px .8em 30px;
}

/* Remove box-shadows and text-shadows for performance */
.ui-shadow,
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a,
.ui-body-b,
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b,
.ui-bar-c,
.ui-body-c,
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c,
.ui-bar-c,
.ui-body-d,
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d,
.ui-bar-d,
.ui-body-e,
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e,
.ui-bar-e,
.ui-overlay-shadow,
.ui-shadow,
.ui-btn-active,
.ui-body-a,
.ui-bar-a {
 text-shadow: none;
 box-shadow: none;
 -webkit-box-shadow: none;
}
