<div class="main-columns columns-container"></div>
<div class="companies-columns columns-container"></div>
<div class="stocks-columns columns-container"></div>

{{if user && !user.is_public}}
	<div id="mobile-updates" data-role="page">
		<div data-role="header">	
			<a data-role="button" data-inline="true" data-icon="menu" data-theme="a" data-iconpos="notext" class="mobile-menu-button">Menu</a>
			<h1>Alerts</h1>
		</div>
		<div data-role="content">
			<div class="mobile-update-list"></div>
		</div>
		{{if smallScreen}}
			<div class="mobile-content-overlay"></div>
		{{/if}}
	</div>
{{/if}}

{{if !user || user.is_public}}
<div id="public-account-selector" data-role="dialog" data-theme="a" data-content-theme="c">
	<div data-role="header">
		<h1>Public Accounts</h1>
	</div>
	
	<div data-role="content">
		<p>Try out some of our public accounts by selecting your areas of focus</p>
		<form>
			<div data-role="fieldcontain">
				<label for="profession">${focus.professional.title}</label>
				<select name="user[profession]" id="profession">
					{{each focus.professional.profiles}}
						${currentFocusId = $value._id}
						<option value="${$value._id}" {{each selectedFocus.professional}} {{if $value._id === currentFocusId}} selected="selected" {{/if}} {{/each}}>${$value.title}</option>
					{{/each}}
				</select>
			</div>
			<div data-role="fieldcontain">
				<label for="industry">${focus.industrial.title}</label>
				<select name="user[industry]" id="industry">
					{{each focus.industrial.profiles}}
						${currentFocusId = $value._id}
						<option value="${$value._id}" {{each selectedFocus.industrial}} {{if $value._id === currentFocusId}} selected="selected" {{/if}} {{/each}}>${$value.title}</option>
					{{/each}}
				</select>
			</div>
			<div data-role="fieldcontain">
				<label for="geographic">${focus.geographic.title}</label>
				<select name="user[geographic]" id="geographic">
					{{each focus.geographic.profiles}}
						${currentFocusId = $value._id}
						<option value="${$value._id}" {{each selectedFocus.geographic}} {{if $value._id === currentFocusId}} selected="selected" {{/if}} {{/each}}>${$value.title}</option>
					{{/each}}
				</select>
			</div>
		</form>
		<button data-theme="b" data-icon="arrow-r" data-iconpos="right" class="public-account-selector-btn">Try account</button>
	</div>	
</div>
{{/if}}

<div data-role="page" data-theme="a" class="menu-page">
	<div data-role="header" class="desktop-title">
		<div class="refresh-columns-button">
			<div class="refresh-logo"></div>
			<h1>FastND</h1>
		</div>
		
		{{if user && user.is_public}}
			<a data-role="button" class="signin-button ui-btn-right" data-theme="a">Sign In</a> 
		{{/if}}
		
		{{if user && !user.is_public}}
			<div class="header-buttons">
				<a ontouchstart="" class="logout-button">Logout</a>
			</div>
		{{/if}}
	</div> <!-- desktop-title -->
	<div data-role="content">
		
		<ul data-role="listview" data-filter="true" class="mobile-addcompany hide-mobile-companies companies-list" data-filter-theme="a" data-filter-placeholder="Search companies..."></ul>
		
		<ul data-role="listview" class="mobile-menu split-selector" data-split-theme="a">
			{{if user && !user.is_public}}
				<li><a>${user.full_name}</a><a class="mobile-column-select profile-button"></a></li>
				<li><a>Alerts</a><a class="alerts-button mobile-column-select"></a></li>
			{{/if}}
			{{if user && user.is_public}}
				<li><a>Try a Public Account</a><a class="mobile-column-select public-account-btn"></a></li>
			{{/if}}
		</ul>
		
	</div> <!-- content -->
</div> <!-- menu-page -->
